---
layout: archive
---

<h1>About me</h1>
<section class="page__content" itemprop="text">
<!-- <section class="page__content" itemprop="text" style="font-size:$type-size-6"> -->
    <p>
        Hi, I'm James Bourbeau. I'm a physics Ph.D. student, data analyst, and programmer with an interest in machine learning and open-source software. I have several years of experience coding in Python. In particular, my experience is predominantly in the scientific computing and Python data science space.

        Throughout my undergraduate and graduate training, I've leaned I really enjoy programming and working with data. 
    </p>
    <p>
        In my free time I like spending time outside with friends and enjoying life in Madison, WI!
    </p>
</section>
<br />

<h2 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h2>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
